# =========================
# Python
# =========================

**pycache**/
*.pyc
*.pyo
*.pyd

# =========================
# Datasets
# =========================

*.gz
**/stl10_binary

# =========================
# ImageNet
# =========================

data/raw

# =========================
# Huge file
# =========================

*.tar
*.zip
*.h5
*.hdf5
*.pt
checkpoints/imagenet/*
checkpoints/cifar10/*
checkpoints/finetune/*
*.ckpt

# =========================
# Environments
# =========================

.venv/
venv/
env/
.env/

# =========================
# Système
# =========================

.DS_Store
Thumbs.db

/.quarto/
**/*.quarto_ipynb

# =========================
# le website ne doit pas être versionné
# =========================
_site/