# =========================
# Python
# =========================

**pycache**/
*.pyc
*.pyo
*.pyd

# =========================
# Datasets 
# =========================

*.gz
**/stl10_binary

# =========================
# ImageNet 
# =========================

data/raw


# =========================
# Huge file
# =========================

*.tar
*.zip
*.h5
*.hdf5
*.pt
*.pth
*.ckpt

# =========================
# Environments 
# =========================

.venv/
venv/
env/

# =========================
# Système
# =========================

.DS_Store
Thumbs.db
